body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    padding: 20px;
}

textarea {
    width: 90%;
    height: 100px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ff9800;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}

p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    }
